<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page">
	<div class="page__container">

		<div class="game">
			<div class="game__wrap">
				<div class="game__logo">
					<img src="@img/logo.png" alt="Logo">
				</div>

				<div class="game__field">
					<div class="drum">
						<div class="drum__spinner">
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-6.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-7.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-6.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-7.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.png" alt="Icon game"></div>
							</div>
						</div>
					</div>

					<div class="game__bottom">
						<div class="lines">
							<div class="lines__wrap">
								<div class="lines__title">Lines</div>
								<ul class="lines__list">
									<li class="lines__item"><button type="button">100</button></li>
									<li class="lines__item"><button type="button">80</button></li>
									<li class="lines__item active"><button type="button">60</button></li>
									<li class="lines__item"><button type="button">40</button></li>
									<li class="lines__item"><button type="button">20</button></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="menu">
				<div class="menu__container">
					<div class="menu__left">
						<div class="menu__wrap">
							<div class="menu__items">
								<a href="#" class="menu__sound">
									<img src="@img/button/sound.png" alt="Sound">
								</a>
							</div>
							<div class="menu__info">
								<span class="balance">Balance</span>
								<span class="number">1000</span>
								<span class="value">FUN</span>
							</div>
						</div>
						<div class="menu__bet">
							<div class="menu__credit">
								<p>Total bet</p>
								<div class="menu__credit-wrap">
									<span class="number">1.20</span>
									<span class="value">FUN</span>
								</div>
							</div>
							<div class="menu__arrows">
								<a class="menu__button-arrow" href="#">
									<img src="@img/button/button-arrow.png" alt="Button top">
								</a>
								<a class="menu__button-arrow bottom" href="#">
									<img src="@img/button/button-arrow.png" alt="Button bottom">
								</a>
							</div>
						</div>
					</div>

					<div class="menu__right">
						<a href="#" class="menu__button-auto">
							<img src="@img/button/auto-spin.png" alt="Auto Spin">
						</a>
						<a href="#" class="menu__button-spin">
							<img src="@img/button/arrows.png" alt="Spin">
						</a>
					</div>
				</div>
			</div>

			<div class="popup">
				<div class="popup__overlay"></div>
				<div class="popup__content">
					<div class="popup__inner">
						<h2 class="popup__title">Congratulations!</h2>
						<p class="popup__text">Ready to continue playing?</p>
						<a class="cta-button" href="#">Download Now</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
